.books__list__wrapper{
  padding-top:1px;
  height: 800px;
  background-color: $very_light_blue;
}
.book__list__title{
  width: 178px;
  margin: 50px 0 0 50px;
  border-radius: 5px 5px 15px 5px;
  color: white;
  padding: 10px 20px 10px 20px;
  background-color: $deep_blue;
}
.genre_list{
  background-color:white;
  box-shadow: 10px 10px 10px rgba(163, 159, 159, 0.6);
  margin: 100px 0 0 200px;
  height: 500px;
  width: 1100px;
  border-radius: 5px;

}

.genre_link_list{
  
  margin: 100px 40px 0 50px;
  float: left;
}

.genre_link{
  box-shadow: 10px 10px 10px rgba(163, 159, 159, 0.6);
  margin: 100px 40px 0 40px;
  text-decoration: none;
  border-radius: 5px 5px 15px 5px;
  color: white;
  padding: 10px 20px 10px 20px;
  background-color: $deep_blue;

}