.history__wrapper
  .history
    .history__title
      購入履歴
    -@histories.each_with_index do |history, id|
      .histories
        = id+1
        = history.book.title.truncate(14,omission:"...")
        .created_at
          = history.created_at.strftime("%Y/%m/%d %H:%M")
        .price
          = history.price
          円
  