.buy_wrapper
  %noscript
    %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5", :style => "display:none;visibility:hidden", :width => "0"}
  / End Google Tag Manager (noscript)
  .single-container
    %header.single-header
      %h1
        %a{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4069491723",class:"buy_logo"}/
    %main.single-main
      %section.l-single-container.buy-item-container
        %h2.l-single-head 購入内容の確認
        %section.buy-content.buy-item
          .buy-content-inner
            %h3.buy-item-image
              %img.buy_image{:alt => "", "data-src" => "https://static.mercdn.net/thumb/photos/m76934274468_1.jpg?1542599990", :src => "https://static.mercdn.net/thumb/photos/m76934274468_1.jpg?1542599990"}/
            %p.buy-item-name.bold ヴィヴィアンウェストウッド　ハラコバッグ
            %form.buy-form{:action => "https://www.mercari.com/jp/transaction/buy/done/m76934274468/", :method => "POST", :novalidate => "novalidate"}
              %p.buy-price-ja.bold
                ¥ 4,000
                %span.item-shipping-fee.f14.bold 送料込み
              %ul.buy-accordion.not-have
                %li.accordion-parent
                  .accordion-toggle
                    ポイントはありません
              %ul.buy-price-table
                %li.buy-price-row.buy-you-pay.bold
                  .buy-price-cell 支払い金額
                  .buy-price-cell-2
                    %span{"data-buy-pay" => "4000"} ¥ 4,000
              %p.has-error-text 配送先と支払い方法の入力を完了してください。
              %button.buy-btn-default.btn-red.bold{:disabled => "disabled", :type => "submit"} 購入する
              %input#user_info_is_not_complete{:type => "hidden"}/
        %section.buy-content1.buy-item
          .buy-content-inner1
            %h3 配送先
            %address.buy-user-info-text
              〒620-0034
              %br/
              京都府 福知山市鍛冶
              39-1
              %br/
              佐古田 雄二郎
            %p.buy-user-info-text
            %a.buy-user-info-fix{:href => "https://www.mercari.com/jp/transaction/address/m76934274468/"}
              .buy-change
                %span 変更する
                %i.fas.fa-chevron-right
        %section.buy-content2.buy-item
          .buy-content-inner2
            %h3 支払い方法
            %p.buy-user-info-text
              %br/
              \/
            %figure
              %img{:alt => "", :height => "", :src => "", :width => ""}/
            %p
            %a.buy-user-info-fix{:href => "https://www.mercari.com/jp/transaction/card/m76934274468/"}
              .buy-change
                %span 変更する
                %i.fas.fa-chevron-right
    %footer.single-footer
      %ul.buy_list_wrapper
        %li
          %a{:href => "https://www.mercari.com/jp/privacy/",class:"buy_inf_list"} プライバシーポリシー
        %li
          %a{:href => "https://www.mercari.com/jp/tos/",class:"buy_inf_list"} メルカリ利用規約
        %li
          %a{:href => "https://www.mercari.com/jp/tokutei/",class:"buy_inf_list"} 特定商取引に関する表記
      .footer-logo-wrapper
        %a.single-footer-logo{:href => "https://www.mercari.com/jp/"}
        %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?4069491723", :width => "80"}/
      .footer-small
        %small © 2019 Mercari
  %script{:src => "//www-mercari-jp.akamaized.net/assets/js/app.js?3562094299"}
  :javascript
    window.dataLayer = window.dataLayer || []
    dataLayer.push({
      'event': 'dynamic_cart',
      'ecomm_pagetype': 'cart',
      'ecomm_prodid': 'm76934274468',
      'ecomm_totalvalue': '4000',
      'uid': '955789351'
    });
  / Google Tag Manager
  :javascript
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KLPT5L5');
  / End Google Tag Manager
  %script{:id => "", :type => "text/javascript"}
    :cdata
      var yahoo_ss_retargeting_id=1001057397,yahoo_sstag_custom_params=window.yahoo_sstag_params,yahoo_ss_retargeting=!0;
  %script{:id => "", :src => "https://s.yimg.jp/images/listing/tool/cv/conversion.js", :type => "text/javascript"}
  %noscript
    %div{:style => "display:inline;"}
      %img{:alt => "", :height => "1", :src => "https://b97.yahoo.co.jp/pagead/conversion/1001057397/?guid=ON&script=0&disvt=false", :style => "border-style:none;", :width => "1"}/
