.search_content{
  margin: 30px 0px 120px 200px;
  height: 150px;
  width: 800px;
  
}
.search_content__image{
  
  float: left;
}
.search_conent__title{
  font-size: 19px;
}
.search__index__image{
  height: 150px;
  width: 250px;
  
}
.title__text{
  text-decoration: none;
  color:rgb(94, 93, 93);
  font-size: 20px;
}

.user__text{
  text-decoration: none;
  color:rgb(139, 139, 139);
}
.info__text{
  text-decoration: none;
  color:rgb(139, 139, 139);
}
