.pay__show__wrapper{
  padding-top: 70px;
  padding-bottom: 200px;
  width: 100%;
  background-color: $very_light_blue;
}

.box-inner{
  padding: 40px;
  margin: 60px 300px 0 300px;
  background-color: white;
  width: 770px;
  box-shadow: 10px 10px 10px rgba(163, 159, 159, 0.6);
  border-radius: 5px;
}



.radio-col.spacing-right-small{
  float: left;
}

.cashOnDeliveryCash{
  margin:20px 0 0 30px;
}

.convenienceStorePayment{
  margin:30px 0 0 30px;
}

.next-button{
  background-color:$deep_blue;
  font-size: 12px;
  color: white;
  float: right;
  height: 40px;
  width: 80px;
  border-radius: 5px;
}


.else__wrapper{
  margin-top: 60px;
  margin-bottom: 30px;
}

.card__wrapper{
  margin-top: 30px;
}

.card__title{
  float: left;
  margin: 0 20px 0 20px;
}

.pay__wrapper{
  text-align: center;
  margin-top: 100px;

}

.page__link{
  margin-top: 50px;
  text-decoration: none;
}
.top__page__link{
  color: white;
  background-color: $deep_blue;
  padding: 15px;
  text-decoration: none;
  border-radius: 5px;
}
.amazon{
  
  margin-left: 600px;
  
}
.amazon_link{
  border-radius: 5px;
  color: white;
  background-color: $deep_blue;
  padding: 15px;
  text-decoration: none;

}