// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  background-color: rgb(214, 214, 214);
}

.header{
    padding: 20px 0;
    border-bottom: 1px solid gray;
  .inner{
    line-height: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    .header__left{
      width: 35%;
      .title{
        text-decoration: none;
        font-weight: 600;
        font-size: 30px;
        color: black;
        }
      i{
        color: $deep_blue;
        font-size: 30px;
      }
    }
    .header__right{
      display: flex;
      justify-content: space-between;
     width: 35%;
      li{
        list-style: none;
        a{
          text-decoration: none;
          color: #333;
        }
        a:hover{
          color: gray;
        }
      }
    }
    .header__right2{
      display: flex;
      justify-content: space-around;
      width: 20%;
      li{
        list-style: none;
        a{
          text-decoration: none;
          color: #333;
        }
        a:hover{
          color: gray;
        }
      }
    }
  }
}
    





.footer{
  height: 200px;
  width: 100%;
  background-color: rgb(32, 32, 32);
  &__box{
    height: 100%;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    color: white;
    line-height: 400%;
    P{
      font-size: 13px;
    }
    &__logo{
      font-size: 35px;
    }
    h3{
      font-size: 14px;
      font-weight: bold;
    }
  }
}













