// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper{
  height: 100%;
  width: 100%;
}
.search__top{
  float: left;
  padding: 13px 0 0 150px;
}
.saerch__field{
  border-radius:20px;
  width: 500px;
  height: 40px;
  opacity: 0.8;
}
.saerch__bottun{
  margin-left: 5px;
  padding: 10px;
  background-color:$deep_blue;
  border-radius:5px 5px 15px 5px;
  color: white;
}




.list{
    font-size: 15px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: $deep_blue;
    text-decoration: none; 
    border-radius:5px 5px 15px 5px;
}


.index__title{
  text-decoration: none; 
  color: white;
  background-color: $deep_blue;
  padding: 13px 17px 13px 17px;
  border-radius:5px 5px 18px 5px;
}


.header{
  margin-bottom: 40px;
  border-radius:5px 5px 15px 15px;
  background-color: $right_blue;
  opacity: 0.8;
  height: 70px;
  width: 100%;
  box-shadow: 10px 10px 10px rgba(163, 159, 159, 0.6);  &__left{
  float: left;
  font-size: 30px;
  }
  &__right{
    padding: 20px 20px 0 0;
    float: right;
    font-size: 20px;
    li{
      float: right;
      padding-right: 15px;
    }
  }
  &__left{
    margin: 10px 0 0 50px;
  }
}

