// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  height: 100px;
  width: 100%;
  background-color: yellow;
  &__left{
    float: left;
    padding: 30px 0 0 50px;
    font-size: 30px;
  }
  &__right{
    float: right;
    padding: 40px 50px 0 0;
    font-size: 20px;
    li{
      float: right;
      padding-right: 15px;
    }
  }
}

