.buy_wrapper{
  background-color: rgb(236, 236, 236);
  padding-bottom: 50px;
}
.single-header{
  height: 128px;
}
.buy_logo{
  margin: 30px 0 0 620px;
  height:49px;
  width: 185px;
}
.single-main{
  width: 700px;
  background-color: white;
  margin: 0 0 0 370px;
}

.l-single-head{
  font-size: 23px;
  text-align: center;
  height: 35px;
  padding: 16px;
  border-bottom: solid 1px rgb(238, 238, 238);
}
.buy-content{
  height: 450px;
  width: 320px;
  margin:30px 0 0 180px;
}
.buy-content-inner{
  height: 200px;  
}
.buy_image{
  height: 148px;
  width: 110px;
  margin-left: 105px;
  
}
.buy-item-name{
  font-size: 15px;
}
.buy-price-ja{
  text-align: center;
  font-size: 19px;
  margin-top: 10px;
}
.accordion-toggle{
  height: 48px;
  background-color: rgb(241, 241, 241);
  text-align: center;
  line-height: 48px;
  margin-top: 10px;
  
}
.buy-price-table{
  height: 60px;
}
.buy-price-cell{
  float: left;
  margin: 17px 0 0 10px;
  font-size: 18px;
}
.buy-price-cell-2{
  float:right;
  margin: 10px;
  font-size: 25px;
}
.has-error-text{
  color: red;
  font-size: 14px;
}
.buy-btn-default{
  height: 50px;
  width: 100%;
  background-color: rgb(143, 142, 142);
  color: white;
  font-size: 18px;
  margin: 10px 0 50px 0;
}
.buy-content1{
  margin-top: 10px;
  height: 220px;
  border-top:solid 1px gray;
}
.buy-content2{
  background-color: white;
  display: block;
  height: 220px;
  border-top:solid 1px gray;
}
.buy-content-inner1{
  font-size: 15px;
  width: 320px;
  margin:30px 0 0 180px;
  height: 200px;
  
}
.buy-content-inner2{
  font-size: 15px;
  width: 320px;
  margin:30px 0 0 180px;
  height: 200px;
}
.buy-change{
  font-size: 14px;
  float: right;
  color: #0099E8;
}
.single-footer{
  width: 700px;
  margin-left: 370px;
}
.buy_list_wrapper{
  height: 30px;
  margin:30px 0 0 160px;

}
.buy_inf_list{
  float: left;
  text-decoration: none;
  color: black;
  margin-right: 10px;
  font-size: 12px;
}
.footer-logo-wrapper{
  margin:30px 0 0 300px;
}
.footer-small{
  font-size: 13px;
  margin: 5px 0 0 295px;
}